{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Edit Bairro{% endblock %}

{% block body %}
    <h1>Edit Bairro</h1>

    {{ include('bairro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bairro_index') }}">Voltar</a>

    {{ include('bairro/_delete_form.html.twig') }}
{% endblock %}
