{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Cadastrar bairro{% endblock %}

{% block body %}
    <h3>Novo bairro</h3>

    {{ include('bairro/_form.html.twig') }}

    <a class="btn btn-default btn-rounded" href="{{ path('bairro_index') }}">Voltar</a>
{% endblock %}

{% block extrajavascript %}
<script type="text/javascript">

    function carregaCidades(estadoId) {
            
        $.ajax({
            type: "POST",
            url: "{{ path('pessoa_lista_cidades') }}",
            cache: false,
            data: {
                'estadoId': estadoId
            }
        }).done(function(cities) {

            let options = '';
            $.each(cities, function(i, item){
                options += '<option value="'+item['id']+'">'+item['nome']+'</option>';
            });
            
            $("#bairro_fkCidadeId").empty().append(options);

        }).fail(function(){
            console.log( 'Falha ao buscar as cidades.' );
        });

    }

    $(document).ready( function() {

        carregaCidades($("#bairro_fkEstadoId").val());
        
        $("#bairro_fkEstadoId").on('change', function(){
            carregaCidades(this.value);
        });

    });

</script>
{% endblock %}