{% extends 'layout-admin.html.twig' %}

{% block title %}New ImobiliariaAtuacao{% endblock %}

{% block body %}
    <h1>Create new ImobiliariaAtuacao</h1>

    {{ include('imobiliaria_atuacao/_form.html.twig') }}

    <a href="{{ path('imobiliaria_atuacao_index') }}">back to list</a>
{% endblock %}

{% block extrajavascript %}
<script type="text/javascript">
    $(document).ready( function() {
        
        $("#imobiliaria_atuacao_fkEstadoId").on('change', function(){

            $.ajax({
                type: "POST",
                url: "{{ path('pessoa_lista_cidades') }}",
                cache: false,
                data: {
                    'estadoId': this.value
                }
            }).done(function(cities) {

                let options = '';
                $.each(cities, function(i, item){
                    options += '<option value="'+item['id']+'">'+item['nome']+'</option>';
                });
                
                $("#imobiliaria_atuacao_fkCidadeId").empty().append(options);

            }).fail(function(){
                console.log( 'Falha ao buscar as cidades.' );
            });

        });

    });
</script>
{% endblock %}