{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Atualizar tipo de imóvel{% endblock %}

{% block body %}
    <h3>Atualizar tipo de imóvel</h3>
    {{ include('tipo_imovel/_delete_form.html.twig') }}
    <br>

    {{ include('tipo_imovel/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a class="btn btn-default btn-rounded" href="{{ path('tipo_imovel_index') }}">Voltar</a>

{% endblock %}
