{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Edit TipoImovel{% endblock %}

{% block body %}
    <h1>Edit TipoImovel</h1>

    {{ include('tipo_imovel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tipo_imovel_index') }}">Voltar</a>

    {{ include('tipo_imovel/_delete_form.html.twig') }}
{% endblock %}
