{% extends 'layout-admin.html.twig' %}

{% block title %}Tipo de Imóvel{% endblock %}

{% block body %}
    <h1>Tipo de Imóvel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_imovel in tipo_imovels %}
            <tr>
                <td>{{ tipo_imovel.nome }}</td>
                <td>
                    <a href="{{ path('tipo_imovel_show', {'id': tipo_imovel.id}) }}">show</a>
                    <a href="{{ path('tipo_imovel_edit', {'id': tipo_imovel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_imovel_new') }}">Create new</a>
{% endblock %}
