{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Tipos de Imóveis{% endblock %}

{% block body %}
    <h3>Tipos de Imóveis</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_imovel in tipo_imovels %}
            <tr>
                <td>{{ tipo_imovel.nome }}</td>
                <td>
                    <a href="{{ path('tipo_imovel_edit', {'id': tipo_imovel.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn btn-dark btn-rounded" href="{{ path('tipo_imovel_new') }}">Cadastrar</a>
    </div>
{% endblock %}
