{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Cadastrar Tipo de Imóvel{% endblock %}

{% block body %}
    <h3>Novo tipo de imóvel</h3>

    {{ include('tipo_imovel/_form.html.twig') }}

    <a class="btn btn-default btn-rounded" href="{{ path('tipo_imovel_index') }}">Voltar</a>
{% endblock %}
