{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Atualizar cliente{% endblock %}

{% block body %}
    <h3>Atualizar cliente</h3>

    {{ include('pessoa/_delete_form.html.twig') }}
    <br>
    {{ include('pessoa/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a class="btn btn-default btn-rounded" href="{{ path('pessoa_index') }}">Voltar</a>

{% endblock %}

{% block extrajavascript %}
<script type="text/javascript">
    $(document).ready( function() {
        
        $("#pessoa_fkEstadoId").on('change', function(){
            
            if (this.value != ''){

                $.ajax({
                    type: "POST",
                    url: "{{ path('pessoa_lista_cidades') }}",
                    cache: false,
                    data: {
                        'estadoId': this.value
                    }
                }).done(function(cities) {

                    let options = '';
                    $.each(cities, function(i, item){
                        options += '<option value="'+item['id']+'">'+item['nome']+'</option>';
                    });
                    
                    $("#pessoa_fkCidadeId").empty().append(options);

                }).fail(function(){
                    console.log( 'Falha ao buscar as cidades.' );
                });

            }
        });
    });
</script>
{% endblock %}