<form method="post" action="{{ path('user_delete', {'id': pessoa.id}) }}" onsubmit="return confirm('Tem certeza que quer deletar??');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pessoa.id) }}">
    <button class="btn">Deletar</button>
</form>
