{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Cadastrar Usuários{% endblock %}

{% block body %}
    <h1>Novo usuário</h1>
    <p><span class="label label-default">O usuário será criado com a senha temporária: imob@2019</span></p>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-default btn-rounded" href="{{ path('user_index') }}">Voltar</a>
{% endblock %}

{% block extrajavascript %}
<script type="text/javascript">
    $(document).ready( function() {
        
        $("#user_fkEstadoId").on('change', function(){

            $.ajax({
                type: "POST",
                url: "{{ path('pessoa_lista_cidades') }}",
                cache: false,
                data: {
                    'estadoId': this.value
                }
            }).done(function(cities) {

                let options = '';
                $.each(cities, function(i, item){
                    options += '<option value="'+item['id']+'">'+item['nome']+'</option>';
                });
                
                $("#user_fkCidadeId").empty().append(options);

            }).fail(function(){
                console.log( 'Falha ao buscar as cidades.' );
            });

        });
    });
</script>
{% endblock %}